apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      serviceAccountName: controller-manager
      containers:
        - name: manager
          image: operator:latest
          args:
            - operator
            - --leader-elect
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: INFINISPAN_OPERAND_VERSIONS
              value: |-
                [
                  {
                    "upstream-version": "14.0.1",
                    "image": "quay.io/infinispan/server:14.0.1.Final"
                  },
                  {
                    "upstream-version": "14.0.6",
                    "image": "quay.io/infinispan/server:14.0.6.Final"
                  },
                  {
                    "upstream-version": "14.0.9",
                    "image": "quay.io/infinispan/server:14.0.9.Final"
                  },
                  {
                    "upstream-version": "14.0.13",
                    "image": "quay.io/infinispan/server:14.0.13.Final"
                  },
                  {
                    "upstream-version": "14.0.17",
                    "image": "quay.io/infinispan/server:14.0.17.Final"
                  },
                  {
                    "upstream-version": "14.0.19",
                    "image": "quay.io/infinispan/server:14.0.19.Final"
                  },
                  {
                    "upstream-version": "14.0.20",
                    "image": "quay.io/infinispan/server:14.0.20.Final"
                  },
                  {
                    "upstream-version": "14.0.21",
                    "image": "quay.io/infinispan/server:14.0.21.Final"
                  },
                  {
                    "upstream-version": "14.0.24",
                    "image": "quay.io/infinispan/server:14.0.24.Final"
                  },
                  {
                    "upstream-version": "14.0.27",
                    "image": "quay.io/infinispan/server:14.0.27.Final"
                  },
                  {
                    "upstream-version": "14.0.32",
                    "image": "quay.io/infinispan/server:14.0.32.Final"
                  },
                  {
                    "upstream-version": "15.0.0",
                    "image": "quay.io/infinispan/server:15.0.0.Final"
                  },
                  {
                    "upstream-version": "15.0.3",
                    "image": "quay.io/infinispan/server:15.0.3.Final"
                  },
                  {
                    "upstream-version": "15.0.4",
                    "image": "quay.io/infinispan/server:15.0.4.Final"
                  },
                  {
                    "upstream-version": "15.0.5",
                    "image": "quay.io/infinispan/server:15.0.5.Final"
                  },
                  {
                    "upstream-version": "15.0.8",
                    "image": "quay.io/infinispan/server:15.0.8.Final"
                  },
                  {
                    "upstream-version": "15.0.10",
                    "image": "quay.io/infinispan/server:15.0.10.Final"
                  },
                  {
                    "upstream-version": "15.0.11",
                    "image": "quay.io/infinispan/server:15.0.11.Final"
                  },
                  {
                    "upstream-version": "15.0.13",
                    "image": "quay.io/infinispan/server:15.0.13.Final"
                  },
                  {
                    "upstream-version": "15.0.14",
                    "image": "quay.io/infinispan/server:15.0.14.Final"
                  },
                  {
                    "upstream-version": "15.0.15",
                    "image": "quay.io/infinispan/server:15.0.15.Final"
                  },
                  {
                    "upstream-version": "15.0.16",
                    "image": "quay.io/infinispan/server:15.0.16.Final"
                  },
                  {
                    "upstream-version": "15.0.18",
                    "image": "quay.io/infinispan/server:15.0.18.Final"
                  },
                  {
                    "upstream-version": "15.0.19",
                    "image": "quay.io/infinispan/server:15.0.19.Final"
                  },
                  {
                    "upstream-version": "15.1.0",
                    "image": "quay.io/infinispan/server:15.1.0.Final"
                  },
                  {
                    "upstream-version": "15.1.1",
                    "image": "quay.io/infinispan/server:15.1.1.Final"
                  },
                  {
                    "upstream-version": "15.1.3",
                    "image": "quay.io/infinispan/server:15.1.3.Final"
                  },
                  {
                    "upstream-version": "15.1.4",
                    "image": "quay.io/infinispan/server:15.1.4.Final"
                  },
                  {
                    "upstream-version": "15.1.5",
                    "image": "quay.io/infinispan/server:15.1.5.Final"
                  },
                  {
                    "upstream-version": "15.1.7",
                    "image": "quay.io/infinispan/server:15.1.7.Final"
                  },
                  {
                    "upstream-version": "15.2.1",
                    "image": "quay.io/infinispan/server:15.2.1.Final"
                  },
                  {
                    "upstream-version": "15.2.2",
                    "image": "quay.io/infinispan/server:15.2.2.Final"
                  },
                  {
                    "upstream-version": "15.2.4",
                    "image": "quay.io/infinispan/server:15.2.4.Final"
                  },
                  {
                    "upstream-version": "15.2.5",
                    "image": "quay.io/infinispan/server:15.2.5.Final"
                  },
                  {
                    "upstream-version": "16.0.0",
                    "image": "quay.io/infinispan-test/server:main"
                  }
                ]
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
