<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="InfinispanServerConfig" monitorInterval="60" shutdownHook="disable">
    <Appenders>
        <!-- Colored output on the console -->
        <Console name="STDOUT">
            <PatternLayout pattern="{{ .Pattern }}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" level="TRACE"/>
        </Root>

        {{- range $key, $value := .Categories }}
        <Logger name="{{ $key }}" level="{{ $value | UpperCase }}"/>
        {{- end }}
    </Loggers>
</Configuration>
