apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: infinispan-operator
  labels:
    name: infinispan-operator
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - services
  - services/finalizers
  - endpoints
  - configmaps
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - statefulsets
  - deployments/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  - routes/custom-host
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - infinispan.org
  resources:
  - infinispans
  - infinispans/status
  - infinispans/finalizers
  - caches
  - caches/status
  - caches/finalizers
  - backups
  - backups/status
  - backups/finalizers
  - restores
  - restores/status
  - restores/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
