apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    name: infinispan-operator
  name: infinispan-operator
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - services
  - services/finalizers
  - endpoints
  - configmaps
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
  - patch
- apiGroups:
    - ""
  resources:
    - serviceaccounts
  verbs:
    - get
    - list
    - watch
- apiGroups:
  - ""
  resources:
    - pods/log
  verbs:
    - get
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - apps
  resources:
  - statefulsets
  - deployments/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  - routes/custom-host
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - infinispan.org
  resources:
  - infinispans
  - infinispans/status
  - infinispans/finalizers
  - caches
  - caches/status
  - caches/finalizers
  - backups
  - backups/status
  - backups/finalizers
  - restores
  - restores/status
  - restores/finalizers
  - batches
  - batches/status
  - batches/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
- apiGroups:
    - integreatly.org
  resources:
    - grafanadashboards
  verbs:
    - get
    - list
    - watch
    - create
    - update
    - delete
