apiVersion: infinispan.org/v1
kind: Infinispan
metadata:
  name: example-infinispan
spec:
  replicas: 2
  service:
    type: DataGrid
    sites:
      local:
        name: SiteB
        expose:
          type: NodePort
          externalIPs:
            - 192.168.99.148
      backups:
      - name: SiteA
        url: minikube://192.168.99.147:8443
        secretName: site-a-secrets
