name: Add Operand

on:
  workflow_call:
    inputs:
      image:
        description: "The FQN of the Operand image"
        required: true
        type: string
      version:
        description: "The upstream-version of the Operand"
        type: string
      ref:
        description: "The git reference to checkout"
        required: false
        default: main
        type: string
      repository:
        description: "The git repository to checkout"
        required: false
        type: string

  workflow_dispatch:
    inputs:
      image:
        description: "The FQN of the Operand image"
        required: true
        type: string
      version:
        description: "The upstream-version of the Operand"
        type: string
      ref:
        description: "The git reference to checkout"
        required: false
        default: main
        type: string
      repository:
        description: "The git repository to checkout"
        required: false
        type: string

jobs:
  add-operand:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}
          token: ${{ secrets.INFINISPAN_RELEASE_TOKEN }}

      - name: Determine Upstream Version
        run: |
          if [[ -z "${{ inputs.version }}" ]]; then
            IMAGE=${{ inputs.image }}
            TAG=${IMAGE#*:}
            echo VERSION=${TAG%.Final} >> ${GITHUB_ENV}
          else
            echo VERSION=${{ inputs.version }} >> ${GITHUB_ENV}
          fi

      - name: Add Operand
        run: ./scripts/ci/add_operand.sh
        env:
          IMAGE: ${{ inputs.image }}
          VERSION: ${{ env.VERSION }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          labels: test/release
          token: ${{ secrets.INFINISPAN_RELEASE_TOKEN }}
          commit-message: 'Add Operand ${{ env.VERSION }}'
          committer: Infinispan <infinispan@infinispan.org>
          author: Infinispan <infinispan@infinispan.org>
          branch: operand-${{ env.VERSION }}
          delete-branch: true
          push-to-fork: ${{ inputs.repository }}
          title: 'Add Operand ${{ env.VERSION }}'
          body: 'Add Operand ${{ env.VERSION }}'

      - name: Enable auto merge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.INFINISPAN_RELEASE_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: rebase
