name: Dependabot

on:
  pull_request_target:
    branches:
      - 2.3.x
      - 2.4.x
      - main

    types:
      - opened
      - reopened

jobs:
  jira:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Approve PR for auto-merge
        run: gh pr merge --auto --rebase ${{ github.event.pull_request.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
