name: Synchronize documentation to the website

on:
  push:
    branches:
      - '*'

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: oraNod/asciidocjs-action@v1.3
      with:
        docs_path: documentation/asciidoc/titles

    - name: Clone infinispan.github.io
      uses: actions/checkout@master
      with:
        repository: infinispan/infinispan.github.io
        ref: master
        path: infinispan.github.io

    - name: Copy Docs
      run: cp -r documentation/asciidoc/titles/operator.html infinispan.github.io/docs/infinispan-operator/${{ github.ref_name }}

    - name: Commit files
      run: |
        cd infinispan.github.io
        git config -l | grep 'http\..*\.extraheader' | cut -d= -f1 | xargs -L1 git config --unset-all
        git config --global user.email "infinispan@infinispan.org"
        git config --global user.name "Infinispan"
        git add . --all
        git diff-index --quiet HEAD || git commit -m "Synchronized Operator docs from ${{ github.ref }}"

    - name: Push to the community site
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'infinispan.github.io'
        destination-github-username: 'infinispan'
        destination-repository-name: 'infinispan.github.io'
        user-email: infinispan@infinispan.org
        target-branch: master
