name: Upgrade Tests

on:
  workflow_call:
    inputs:
      operand:
        description: 'The FQN of the Operand image to be used. If left blank the most recent Operand defined in the Operator repository is used.'
        required: false
        type: string
      operandArtifact:
        description: 'The name of the GH artifact containing the Operand image'
        required: false
        type: string
      operandVersion:
        description: 'The upstream version of the Operand image'
        required: false
        type: string
      skipList:
        description: 'A CSV of Operand versions to be skipped when executing TestOperandUpgrades'
        required: false
        type: string
      testName:
        description: 'The name of a specific upgrade test to be executed'
        required: false
        type: string
      upgradeDepth:
        description: 'The number of previous Operator versions to be installed before the latest version. Defaults to -1 which indicates all Operators in the OLM update graph should be applied.'
        default: -1
        required: false
        type: number
      ref:
        type: string
        required: false
      repository:
        type: string
        required: false

  workflow_dispatch:
    inputs:
      operand:
        description: 'The FQN of the Operand image to be used. If left blank the most recent Operand defined in the Operator repository is used.'
        required: false
        type: string
      operandArtifact:
        description: 'The name of the GH artifact containing the Operand image'
        required: false
        type: string
      operandVersion:
        description: 'The upstream version of the Operand image'
        required: false
        type: string
      skipList:
        description: 'A CSV of Operand versions to be skipped when executing TestOperandUpgrades'
        required: false
        type: string
      testName:
        description: 'The name of a specific upgrade test to be executed'
        required: false
        type: string
      upgradeDepth:
        description: 'The number of previous Operator versions to be installed before the latest version. Defaults to -1 which indicates all Operators in the OLM update graph should be applied.'
        default: -1
        required: false
        type: number
      ref:
        type: string
        required: false
      repository:
        type: string
        required: false

env:
  TESTING_LOG_DIR: ${{ github.workspace }}/test/reports

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}

      - name: Free Disk Space
        # No need to free up disk space if only the latest Operator bundle is installed
        if: inputs.upgradeDepth != 0
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Install Dependencies
        uses: ./.github/actions/dependencies

      - name: Cache Operand Images
        uses: ./.github/actions/operand-cache

      - if: ${{ inputs.operandArtifact != '' }}
        name: Download operand artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.operandArtifact }}
          path: /tmp/operand

      - if: ${{ inputs.operandArtifact != '' }}
        name: Load Operand image from Artifact
        run:  docker load --input /tmp/operand/${{ inputs.operandArtifact }}.tar

      - name: Update Operands
        if: ${{ inputs.operand != '' }}
        run: ./scripts/ci/add_operand_to_csv.sh
        env:
          IMAGE: ${{ inputs.operand }}
          VERSION: ${{ inputs.operandVersion }}

      - name: Log CSV Deployment
        run: yq config/manager/manager.yaml

      - name: Initialize Kubernetes Cluster
        uses: ./.github/actions/kind

      - if: ${{ inputs.operandArtifact != '' }}
        name: Push Operand image to kind cluster
        run: |
          docker push ${{ inputs.operand }}
          kind load docker-image ${{ inputs.operand }}

      - name: Run GracefulShutdown Upgrade Tests
        run: |
          if [ "${DEPTH}" -gt -1 ]; then
            export SUBSCRIPTION_STARTING_CSV=$(cat scripts/test-catalog.yml | yq "select(document_index == 1) | .entries[${DEPTH}].name")
            if [[ "${SUBSCRIPTION_STARTING_CSV}" == "null" ]]; then
              echo "No CSV found in test catalog for upgradeDepth '${DEPTH}'"
              exit 1
            fi
          else
            # We must start on a server version greater than 14.0.23.Final to prevent known clustering issues during upgrades
            # See commit message for a detailed list
            export SUBSCRIPTION_STARTING_CSV=infinispan-operator.v2.3.7
          fi
          # Only upgrade to Operands that are currently defined in the manager.yaml
          export TESTING_OPERAND_ALLOW_LIST=$(./scripts/ci/operand_versions.sh ,)
          make upgrade-test
        env:
          DEPTH: ${{ inputs.upgradeDepth }}
          TEST_NAME: ${{ inputs.testName }}
          TESTING_OPERAND_IGNORE_LIST: ${{ inputs.skipList }}

      - name: Inspect Cluster
        if: failure()
        uses: ./.github/actions/inspect
        with:
          artifactPrefix: "upgrades"

      - name: Test Logs
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: upgrade-test-logs
          path: ${{ env.TESTING_LOG_DIR }}
