name: Hot Rod Rolling Upgrade Tests

on:
  workflow_call:

env:
  TESTING_LOG_DIR: ${{ github.workspace }}/test/reports

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Install Dependencies
        uses: ./.github/actions/dependencies

      - name: Cache Operand Images
        uses: ./.github/actions/operand-cache

      - name: Initialize Kubernetes Cluster
        uses: ./.github/actions/kind

      - name: Webhook Tests
        run: make webhook-test PARALLEL_COUNT=5

      - name: Inspect Cluster
        if: failure()
        uses: ./.github/actions/inspect
        with:
          artifactPrefix: "webhooks"

      - name: Test Logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: webhook-test-logs
          path: ${{ env.TESTING_LOG_DIR }}
