name: Local Operator Test

on:
  workflow_call:
    inputs:
      args:
        description: 'Arguments to pass to make in order to execute the tests'
        required: true
        type: string
      artifactPrefix:
        description: 'The prefix to be applied to all artifacts uploaded by this workflow'
        required: true
        type: string
      operand:
        description: 'The FQN of the Operand image to be used. If left blank the most recent Operand defined in the Operator repository is used.'
        required: false
        type: string
      operandArtifact:
        description: 'The name of the GH artifact containing the Operand image'
        required: false
        type: string
      operandVersion:
        description: 'The upstream version of the Operand image'
        required: false
        type: string
      ref:
        type: string
        required: false
      repository:
        type: string
        required: false

env:
  CONFIG_LISTENER_IMAGE: 'localhost:5001/infinispan-operator'
  KUBECONFIG: ${{ github.workspace }}/kind-kube-config.yaml
  MAKE_DATADIR_WRITABLE: 'true'
  RUN_SA_OPERATOR: 'true'
  TESTING_LOG_DIR: ${{ github.workspace }}/test/reports

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}

      - name: Install Dependencies
        uses: ./.github/actions/dependencies

      - name: Cache Operand Images
        uses: ./.github/actions/operand-cache
        with:
          operand: ${{ inputs.operand }}

      - name: Inject custom Operand
        uses: ./.github/actions/custom-operand
        if: ${{ inputs.operand != '' }}
        with:
          operand: ${{ inputs.operand }}
          operandArtifact: ${{ inputs.operandArtifact }}
          operandVersion: ${{ inputs.operandVersion }}

      - name: Initialize Kubernetes Cluster
        uses: ./.github/actions/kind
        with:
          olm: 'false'

      - name: Run Tests
        run: |
          kubectl create namespace namespace-for-testing
          make ${MAKE_TARGET}
        env:
          MAKE_TARGET: ${{ inputs.args }}

      - name: Inspect Cluster
        if: failure()
        uses: ./.github/actions/inspect
        with:
          artifactPrefix: ${{ inputs.artifactPrefix }}

      - name: Test Logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ${{ inputs.artifactPrefix}}-test-logs
          path: ${{ env.TESTING_LOG_DIR }}
